<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>주포자</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/da56c3de8c.js" crossorigin="anonymous"></script>

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <style type="text/css">
        a { text-decoration:none }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar"></div>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                <div class="eight" >
                    <h1>Stock Portfolio Advisory</h1>
                </div>




                <!--  Topbar Search

                     <div class="input-group" >
                     <p style="background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">주식 포트폴리오 자문</p>

                     </div>-->





            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->





            <!-- Color System -->
           <!-- <div class="row">-->
                <div class="card shadow mb-4" > <a href="list?category=per">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body py-3">
                            저평가</div></div>
                            <div class="card-body">
                                <div class="text-black-50 small">시장에서 비교적 저평가되어 있는 기업들을 순서대로 나열하였습니다.<br>
                                    저평가 판단 기준은 PER,ROE를 토대로 판단하였습니다.</div></div></a>


                </div>
                <div class="card shadow mb-4"><a href="list?category=net">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body py-3">
                            성장률</div></div>
                    <div class="card-body">
                            <div class="text-black-50 small">성장률이 몇% 증가했는지에 따라 높은순으로 나열하였습니다.<br>
                                성장률은 해당 주식의 연간 순이익 상승률을 기준으로 하였습니다.</div>
                    </div></a>
                    </div>

                <div class="card shadow mb-4"><a href="list?category=dividend">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body py-3">
                            배당금</div></div>
                    <div class="card-body">
                            <div class="text-black-50 small">각 주식의 배당률을 순위로 나열하였습니다.<br>
                                배당률은 해당 주식의 연당 배당금을 현재 주가로 나눈 %값 입니다.</div>
                    </div></a>

                </div>
                <div class="card shadow mb-4"><a href="list?category=score">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body py-3">
                            안정성</div></div>
                    <div class="card-body">
                            <div class="text-black-50 small">
                                저희만의 기준으로 점수를 매겨서 어느 기업이 더 안전한지, 위기를 견뎌낼 수 있는지 순위를 매겼습니다.<br>
                                안전 판단 기준은 자기자본비율,유동비율,당좌비율,부채비율을 기준으로 하였습니다.</div>

                    </div></a>
                </div>
                <div class="card shadow mb-4"><a href="list?category=std">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body py-3">
                            고위험</div></div>
                    <div class="card-body">
                            <div class="text-black-50 small">각 주식들의 변동성이 높은 순서대로 나열하였습니다.<br>
                                많은 수익을 얻을 수도 있으나 그만큼 위험합니다!</div>

                    </div></a>
                </div>



<!--</div>-->
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Gachon Team JUPOZA</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../../../../../../Downloads/startbootstrap-sb-admin-2-gh-pages/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src=""></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script src="/js/sidebar.js"></script>

</body>
</html>