<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>주포자</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/da56c3de8c.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }</style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->

<!--        &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
<!--        <a class="sidebar-brand d-flex align-items-center justify-content-center"-->
<!--           href="/index">-->
<!--            <div class="sidebar-brand-icon rotate-n-15">-->
<!--                <i class="fas fa-laugh-wink"></i>-->
<!--            </div>-->
<!--            <div class="sidebar-brand-text mx-3">JUPOJA</div>-->
<!--        </a>-->

<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider my-0">-->

<!--        &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/index">-->
<!--                <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                <span>Main</span></a>-->
<!--        </li>-->

<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider">-->

<!--        &lt;!&ndash; Heading &ndash;&gt;-->
<!--        <div class="sidebar-heading">-->
<!--            Stock-->
<!--        </div>-->

<!--        &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"-->
<!--               aria-expanded="true" aria-controls="collapseTwo">-->
<!--                <i class="fas fa-fw fa-cog"></i>-->
<!--                <span>Category</span>-->
<!--            </a>-->
<!--            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
<!--                <div class="bg-white py-2 collapse-inner rounded">-->
<!--                    <h6 class="collapse-header">Stock Category:</h6>-->
<!--                    <a class="collapse-item"-->
<!--                       href="list?category=per">저평가</a>-->
<!--                    <a class="collapse-item"-->
<!--                       href="list?category=dividend">성장률</a>-->
<!--                    <a class="collapse-item"-->
<!--                       href="list?category=rate">배당금</a>-->
<!--                    <a class="collapse-item"-->
<!--                       href="list?category=score">안정성</a>-->
<!--                    <a class="collapse-item"-->
<!--                       href="list?category=std">고위험</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->


<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider">-->

<!--        &lt;!&ndash; Heading &ndash;&gt;-->
<!--        <div class="sidebar-heading">-->
<!--            Result-->
<!--        </div>-->


<!--        &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="portfolio">-->
<!--                <i class="fas fa-fw fa-table"></i>-->
<!--                <span>Portfolio</span></a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider d-none d-md-block">-->

<!--        &lt;!&ndash; Sidebar Toggler (Sidebar) &ndash;&gt;-->
<!--        <div class="text-center d-none d-md-inline">-->
<!--            <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
<!--        </div>-->
<!--    </ul>-->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                <div class="eight">
                    <h1>Stock Portfolio Advisory</h1>
                </div>


                <!--  Topbar Search

                     <div class="input-group" >
                     <p style="background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">주식 포트폴리오 자문</p>

                     </div>-->


            </nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container">
                <div id = "indexImgContainer " class = "text-center"style="object-fit: contain; float:none; margin:0 auto">
                    <a id="indexImgClick" style="cursor: pointer;">
                    <img src="/img/indexImg1.png" class="img-fluid" id= "indexImg" style="object-fit: contain;">
                    </a>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Gachon Team JUPOZA</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary"
                   href="../../../../../../Downloads/startbootstrap-sb-admin-2-gh-pages/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

<!-- Page level custom scripts -->
<script src="/js/index.js"></script>
</body>

</html>